<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
      <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
      <a href="/" class="btn btn-dark btn-outline-light">Home</a>
      <a href="/login" class="btn btn-dark btn-outline-light">Login</a>
    
      <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
      <a href="/signup" class="btn btn-dark btn-outline-light">Signup</a>      <button class="btn btn-dark btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Authors
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/author">View</a></li>
        <li><a class="dropdown-item" href="/addauthor">Add Author</a></li>
      </ul>
      <button class="btn btn-dark btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Books
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/book">View</a></li>
        <li><a class="dropdown-item" href="/addbook">Add Book</a></li>
      </ul>
    </div>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--form class="d-flex">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form-->
  </div>
</nav>
